
  <div class="all">
    <div class="starter-stats">
      <div class="blok">
        <i class="fa fa-money"></i>
        <div class="no">
        <p>Asset Types</p>
        <p>3</p>
          </div>
      </div>

      <div class="blok">
        <i class="fa fa-money kl"></i>
        <div class="no">
        <p>Total Gains</p>
        <p>-100.01 BTC</p>
          </div>
      </div>

      <div class="blok">
        <i class="fa fa-money pl"></i>
        <div class="no">
        <p>Longest HODL</p>
        <p>8 Months</p>
          </div>
      </div>
      </div>
      <div class="col-md-12">
        <h1>
          {{title}}
        </h1>
        <fusioncharts
            [id]="id"
            [width]="width"
            [height]="height"
            [type]="type"
            [dataFormat]="dataFormat"
            [dataSource]="dataSource"
        ></fusioncharts>
      </div>


  </div>
